<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RMS01"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
    <listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
        <listEntry value="com.yash.RMS.Testcase.Dashboard.Testcase_Help"/>
        <listEntry value="com.yash.RMS.TestAction.Admin.Action_Resource_update"/>
        <listEntry value="com.yash.RMS.TestAction.Admin.Action_Customeradd"/>
        <listEntry value="com.yash.RMS.TestAction.SEPG.Action_SEPGPhases_AddNewEdit"/>
        <listEntry value="com.yash.RMS.Testcase.ProjectAttribute.Testcase_EngagementModel"/>
        <listEntry value="com.yash.RMS.TestAction.Admin.Action_Customers"/>
        <listEntry value="com.yash.RMS.TestAction.ResourceAttribute.Action_Grade_AddDel"/>
        <listEntry value="com.yash.RMS.CustomProperties.CurrentDate"/>
        <listEntry value="com.yash.RMS.TestAction.Dashboard.Action_EditProperty"/>
        <listEntry value="com.yash.RMS.TestAction.ProjectAttribute.Action_InvoiceBy_PageValidation"/>
        <listEntry value="com.yash.RMS.Testcase.ResourceRequisition.Testcase_ResourceRequisition"/>
        <listEntry value="com.yash.RMS.POM.MasterData.MiscAttribute.MiscAttribute_Event"/>
        <listEntry value="com.yash.RMS.TestAction.login.Action_ValidLogin"/>
        <listEntry value="com.yash.RMS.ExporttoExcel.ReportDescription"/>
        <listEntry value="com.yash.RMS.POM.Configurations.PageObjects_ConfigureMailSettings"/>
        <listEntry value="com.yash.RMS.Testcase.ResourceAttribute.Testcase_Competency"/>
        <listEntry value="com.yash.RMS.Testcase.Admin.Testcase_Resources"/>
        <listEntry value="com.yash.RMS.TestAction.ProjectAttribute.Action_EngagementModel"/>
        <listEntry value="com.yash.RMS.TestAction.ResourceAttribute.Action_Skill_PageValidation"/>
        <listEntry value="com.yash.RMS.TestAction.MasterData.MiscAttribute.TestAction_ParentProjectTeam"/>
        <listEntry value="com.yash.RMS.POM.MasterData.PageObjects_TimesheetAttribute"/>
        <listEntry value="com.yash.RMS.POM.Transaction.PageObjects_TimesheetApproval"/>
        <listEntry value="com.yash.RMS.CustomProperties.ToDate"/>
        <listEntry value="com.yash.RMS.Testcase.Dashboard.ProfileEdit"/>
        <listEntry value="com.yash.RMS.Testcase.Admin.Testcase_Projects"/>
        <listEntry value="com.yash.RMS.Testcase.MiscAttribute.Testcase_ParentProjectTeam"/>
        <listEntry value="com.yash.RMS.Testcase.Configurations.TestCase_ConfigureMailSettings"/>
        <listEntry value="com.yash.RMS.POM.login.PageObjects_Login"/>
        <listEntry value="com.yash.RMS.CustomProperties.Constant"/>
        <listEntry value="com.yash.RMS.TestAction.Useful_links.Action_PageFuseful"/>
        <listEntry value="com.yash.RMS.ExporttoExcel.FetchDesciption"/>
        <listEntry value="com.yash.RMS.Testcase.SEPG_SEPGPhases.TestCase_SepgActivity_PageValidation"/>
        <listEntry value="com.yash.RMS.TestAction.Admin.TestAction_Projects"/>
        <listEntry value="com.yash.RMS.TestAction.ResourceAttribute.Action_Designation_AddDel"/>
        <listEntry value="com.yash.RMS.TestAction.Admin.Action_Resources"/>
        <listEntry value="com.yash.RMS.POM.login.PageFactory_Login"/>
        <listEntry value="com.yash.RMS.Testcase.Dashboard.TestCase_EditProfile1"/>
        <listEntry value="com.yash.RMS.POM.Dashboard.PageObjects_EditProfile"/>
        <listEntry value="com.yash.RMS.TestAction.ProjectAttribute.Action_ProjectCategoryAddDel"/>
        <listEntry value="com.yash.RMS.Testcase.ResourceAttribute.TestCase_Designation"/>
        <listEntry value="com.yash.RMS.POM.Dashboard.PageObjects_Help"/>
        <listEntry value="com.yash.RMS.POM.ResourceAttribute.ResourceAttribute_Visa"/>
        <listEntry value="com.yash.RMS.TestAction.ResourceRequisition.Action_ResourceRequisition"/>
        <listEntry value="com.yash.RMS.Testcase.ProjectAttribute.Testcase_Currency"/>
        <listEntry value="com.yash.RMS.ExporttoExcel.ReadHTMLReportData"/>
        <listEntry value="com.yash.RMS.POM.Transaction.PageObjects_TransactionLoanOrTransferResources"/>
        <listEntry value="com.yash.RMS.Testcase.ResourceAttribute.Testcase_EmployeeCategory"/>
        <listEntry value="com.yash.RMS.CustomProperties.DatePicker"/>
        <listEntry value="com.yash.RMS.Setup.ConfigureBrowser"/>
        <listEntry value="com.yash.RMS.TestAction.SEPG.Action_SEPGActivity_PageValidation"/>
        <listEntry value="com.yash.RMS.Testcase.ResourceAttribute.Testcase_Skill"/>
        <listEntry value="com.yash.RMS.Setup.BrowserSetup"/>
        <listEntry value="com.yash.RMS.Testcase.Transaction.Login"/>
        <listEntry value="com.yash.RMS.POM.ResourceAttribute.PageObjects_ResourceAttribute"/>
        <listEntry value="com.yash.RMS.Testcase.ResourceAttribute.Testcase_Visa"/>
        <listEntry value="com.yash.RMS.TestAction.login.Action_LoginVerification"/>
        <listEntry value="com.yash.RMS.TestAction.Dashboard.TestAction_EditProfile1"/>
        <listEntry value="com.yash.RMS.TestAction.Dashboard.TestAction_Help"/>
        <listEntry value="com.yash.RMS.CustomProperties.CommonObjects"/>
        <listEntry value="com.yash.RMS.Testcase.SEPG_SEPGPhases.TestCase_SepgPhases"/>
        <listEntry value="com.yash.RMS.Testcase.Transaction.Testcase_LoanOrTransferResources"/>
        <listEntry value="com.yash.RMS.TestAction.Transaction.TestAction_TimesheetApproval2"/>
        <listEntry value="com.yash.RMS.Testcase.ProjectAttribute.TestCase_ProjectCategory"/>
        <listEntry value="com.yash.RMS.POM.Admin.PageFactory_Customers"/>
        <listEntry value="com.yash.RMS.CustomProperties.ExcelUtility_Keyword"/>
        <listEntry value="com.yash.RMS.POM.SEPG.PageObjects_SEPGActivity"/>
        <listEntry value="com.yash.RMS.TestAction.ResourceAttribute.Action_Location_PageValidation"/>
        <listEntry value="com.yash.RMS.Testcase.Transaction.Testcase_TimesheetSubmissionH"/>
        <listEntry value="com.yash.RMS.TestAction.SEPG.Action_SEPGActivity_AddNew"/>
        <listEntry value="com.yash.RMS.TestAction.Transaction.Action_LoanOrTransferResources"/>
        <listEntry value="com.yash.RMS.ExporttoExcel.CustomizedReport"/>
        <listEntry value="com.yash.RMS.Testcase.TimesheetAttribute.TestCase_TimesheetAttribute"/>
        <listEntry value="com.yash.RMS.TestAction.ResourceAttribute.TestAction_Competency"/>
        <listEntry value="com.yash.RMS.TestAction.Transaction.TestAction_TimeSheetSubmissionH"/>
        <listEntry value="com.yash.RMS.POM.Useful_links.PageFactory_Useful_Links"/>
        <listEntry value="com.yash.RMS.TestAction.ResourceAttribute.TestAction_EmployeeCategory"/>
        <listEntry value="com.yash.RMS.Testcase.ProjectAttribute.TestCase_ProjectMethodology"/>
        <listEntry value="com.yash.RMS.POM.Transaction.PageObjects_TimesheetApprovals"/>
        <listEntry value="com.yash.RMS.TestAction.Useful_links.Action_Useful_Links"/>
        <listEntry value="com.yash.RMS.Testcase.Transaction.Testcase_TimesheetApproval2"/>
        <listEntry value="com.yash.RMS.CustomProperties.Report"/>
        <listEntry value="com.yash.RMS.CustomProperties.Config"/>
        <listEntry value="com.yash.RMS.Testcase.MiscAttribute.Testcase_Event"/>
        <listEntry value="com.yash.RMS.TestAction.ResourceAttribute.Action_Skill_AddNewEdit"/>
        <listEntry value="com.yash.RMS.TestAction.SEPG.Action_SEPGPhases_PageValidation"/>
        <listEntry value="com.yash.RMS.POM.Transaction.PageObjects_TimesheetSubmission"/>
        <listEntry value="com.yash.RMS.TestAction.Configurations.TestAction_ProjectActivity"/>
        <listEntry value="com.yash.RMS.TestAction.ResourceAttribute.Action_Grade_PageValidation"/>
        <listEntry value="com.yash.RMS.TestAction.Transaction.Action_ProjectAllocation"/>
        <listEntry value="com.yash.RMS.TestAction.MasterData.MiscAttribute.TestAction_Event"/>
        <listEntry value="com.yash.RMS.Testcase.Configurations.TestCase_ProjectActivity"/>
        <listEntry value="com.yash.RMS.POM.ProjectAttribute.PageObjects_ProjectAttribute"/>
        <listEntry value="com.yash.RMS.TestAction.ResourceAttribute.Action_Designation_PageValidation"/>
        <listEntry value="com.yash.RMS.POM.ResourceAttribute.ResourceAttribute_Ownership"/>
        <listEntry value="com.yash.RMS.TestAction.ProjectAttribute.Action_ProjectCategory_PageValidation"/>
        <listEntry value="com.yash.RMS.TestAction.TimesheetAttribute.TestAction_Activity"/>
        <listEntry value="com.yash.RMS.POM.Useful_links.Pageobjects_useful_links"/>
        <listEntry value="com.yash.RMS.POM.ResourceAttribute.ResourceAttribute_Competency"/>
        <listEntry value="com.yash.RMS.POM.MasterData.MiscAttribute.MiscAttribute_BGBU"/>
        <listEntry value="com.yash.RMS.CustomProperties.ExcelUtility"/>
        <listEntry value="com.yash.RMS.Testcase.Admin.Testcase_Customer"/>
        <listEntry value="com.yash.RMS.Testcase.ResourceAttribute.TestCase_Grade"/>
        <listEntry value="com.yash.RMS.CustomProperties.Log"/>
        <listEntry value="com.yash.RMS.Testcase.Useful_links.Testcase_useful_Links"/>
        <listEntry value="com.yash.RMS.POM.SEPG.PageObjects_SEPGPhases"/>
        <listEntry value="com.yash.RMS.TestAction.Dashboard.TestAction_ReleaseNotes"/>
        <listEntry value="com.yash.RMS.POM.MasterData.MiscAttribute.MiscAttribute_ParentProject"/>
        <listEntry value="com.yash.RMS.CustomProperties.AutoItexample"/>
        <listEntry value="com.yash.RMS.TestAction.Admin.Action_Resource_add"/>
        <listEntry value="com.yash.RMS.TestAction.TimesheetAttribute.TestAction_ModuleTicketNo"/>
        <listEntry value="com.yash.RMS.POM.Configurations.PageObjects_ProjectActivity"/>
        <listEntry value="com.yash.RMS.CustomProperties.Uploadfile"/>
        <listEntry value="com.yash.RMS.POM.Admin.PageFactory_Resources"/>
        <listEntry value="com.yash.RMS.TestAction.ResourceAttribute.Action_Location_AddDel"/>
        <listEntry value="com.yash.RMS.POM.Transaction.PageObjects_ProjectAllocation"/>
        <listEntry value="com.yash.RMS.CustomProperties.XML"/>
        <listEntry value="com.yash.RMS.Testcase.MiscAttribute.Testcase_BGBU"/>
        <listEntry value="com.yash.RMS.TestAction.ProjectAttribute.Action_ProjectMethodologyPageValidation"/>
        <listEntry value="com.yash.RMS.POM.ProjectAttribute.PageObjects_ProjectAttribute_Currency"/>
        <listEntry value="com.yash.RMS.Testcase.Login.TestCase_Login"/>
        <listEntry value="com.yash.RMS.POM.ResourceAttribute.ResourceAttribute_EmployeeCategory"/>
        <listEntry value="com.yash.RMS.POM.Admin.Admin_Projects"/>
        <listEntry value="com.yash.RMS.TestAction.MasterData.MiscAttribute.TestAction_BGBU"/>
        <listEntry value="com.yash.RMS.ExporttoExcel.FormatExl"/>
        <listEntry value="com.yash.RMS.POM.Dashboard.PageObject_EditProfile1"/>
        <listEntry value="com.yash.RMS.Testcase.ResourceAttribute.Testcase_Ownership"/>
        <listEntry value="com.yash.RMS.POM.Dashboard.PageObjects_ReleaseNotes"/>
        <listEntry value="com.yash.RMS.Testcase.ResourceAttribute.TestCase_LocationAddDel"/>
        <listEntry value="com.yash.RMS.Setup.ConfigureEMailReport"/>
        <listEntry value="com.yash.RMS.TestAction.Transaction.TestAction_TimesheetApproval"/>
        <listEntry value="com.yash.RMS.TestAction.ProjectAttribute.Action_ProjectMethodologyAddDel"/>
        <listEntry value="com.yash.RMS.Testcase.ProjectAttribute.TestCase_InvoiceBy"/>
        <listEntry value="com.yash.RMS.Testcase.Transaction.Testcase_ProjectAllocation"/>
        <listEntry value="com.yash.RMS.TestAction.ProjectAttribute.Action_Currency"/>
        <listEntry value="com.yash.RMS.CustomProperties.CommonMethods"/>
        <listEntry value="com.yash.RMS.Testcase.Dashboard.Testcase_ReleaseNotes"/>
        <listEntry value="com.yash.RMS.POM.ResourceRequisition.PageObjects_ResourceRequisition"/>
        <listEntry value="com.yash.RMS.POM.TimesheetAttribute.PageObjects_TimesheetAttribute"/>
        <listEntry value="com.yash.RMS.Setup.BrowserQuit"/>
        <listEntry value="com.yash.RMS.POM.ProjectAttribute.PageObjects_ProjectAttribute_EngagementModel"/>
        <listEntry value="com.yash.RMS.TestAction.Configurations.Action_ConfigureMailSettings"/>
        <listEntry value="com.yash.RMS.TestAction.TimesheetAttribute.TestAction_AllocationType"/>
        <listEntry value="com.yash.RMS.POM.Dashboard.Dashboard"/>
        <listEntry value="com.yash.RMS.TestAction.ResourceAttribute.TestAction_Visa"/>
        <listEntry value="com.yash.RMS.TestAction.ResourceAttribute.TestAction_Ownership"/>
        <listEntry value="com.yash.RMS.CustomProperties.Main"/>
        <listEntry value="com.yash.RMS.TestAction.ProjectAttribute.Action_InvoiceBy_AddEditDel"/>
        <listEntry value="com.yash.RMS.POM.ResourceAttribute.PageObjects_ResAttr_Skill"/>
        <listEntry value="com.yash.RMS.POM.ProjectAttribute.PageFactory_Projectattribute"/>
    </listAttribute>
    <listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
    <listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
    <stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
    <intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
